# Load Data :

In [1]:
from pyspark.sql import SparkSession
import os
from dotenv import load_dotenv

spark = SparkSession.builder \
    .appName("BinancePipeline") \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/01/28 09:52:56 WARN Utils: Your hostname, MAE, resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/01/28 09:52:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/28 09:52:58 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:

# bronze_path = '/mnt/c/Users/user/Desktop/Quant-AI-Project/ml/data/btc_minute_data.parquet'
bronze_path=os.getenv("bronze_path_env")
df_bronze = spark.read.parquet(bronze_path)

df_bronze.show(5)
df_bronze.printSchema()

+-------------------+--------+--------+--------+--------+--------+--------------------+------------------+----------------+---------------------+----------------------+------+
|          open_time|    open|    high|     low|   close|  volume|          close_time|quote_asset_volume|number_of_trades|taker_buy_base_volume|taker_buy_quote_volume|ignore|
+-------------------+--------+--------+--------+--------+--------+--------------------+------------------+----------------+---------------------+----------------------+------+
|2026-01-25 07:46:00|88722.27|88722.27|88722.25|88722.26|  4.3435|2026-01-25 07:46:...|    385365.1276877|             436|              0.16568|         14699.5040388|     0|
|2026-01-25 07:47:00|88722.25|88722.26|88722.25|88722.25| 0.64802|2026-01-25 07:47:...|      57493.793677|             117|               0.1232|          10930.582432|     0|
|2026-01-25 07:48:00|88722.25|88722.26|88722.25|88722.25| 0.70972|2026-01-25 07:48:...|     62967.9582888|             182|              0.30188|         26783.4758488|     0|
|2026-01-25 07:49:00|88722.25|88722.26| 88700.0| 88700.0|14.37259|2026-01-25 07:49:...|   1275051.8997442|            1282|              0.33353|         29588.2563772|     0|
|2026-01-25 07:50:00|88700.01|88710.11| 88700.0| 88710.1| 3.43043|2026-01-25 07:50:...|    304289.1629222|             648|              1.82039|        161475.3031322|     0|
+-------------------+--------+--------+--------+--------+--------+--------------------+------------------+----------------+---------------------+----------------------+------+
only showing top 5 rows
root
 |-- open_time: timestamp_ntz (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: double (nullable = true)
 |-- close_time: timestamp_ntz (nullable = true)
 |-- quote_asset_volume: double (nullable = true)
 |-- number_of_trades: long (nullable = true)
 |-- taker_buy_base_volume: double (nullable = true)
 |-- taker_buy_quote_volume: double (nullable = true)
 |-- ignore: string (nullable = true)

In [3]:
df_bronze.summary().show()

26/01/28 09:53:11 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+---------------------+----------------------+------+
|summary|             open|              high|              low|             close|            volume|quote_asset_volume|  number_of_trades|taker_buy_base_volume|taker_buy_quote_volume|ignore|
+-------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+---------------------+----------------------+------+
|  count|              600|               600|              600|               600|               600|               600|               600|                  600|                   600|   600|
|   mean|88512.13728333337| 88527.95423333347|88494.34791666668| 88510.93191666667| 8.130447683333326| 717858.2180273327|2254.1066666666666|    3.906716066666667|     345014.8334012689|   0.0|
| stddev|296.2697389161398|286.13108581359046|307.5388532308686|296.87821978848746|15.492067244486913|   1364050.0592169|2977.8376209564426|    7.518418831649737|     662518.7227539516|   0.0|
|    min|         87657.81|          87804.01|          87560.0|          87657.81|           0.14445|     12711.3613891|                26|              0.05431|          4815.1797972|     0|
|    25%|         88385.72|          88399.53|         88366.93|          88379.79|           1.79218|      158858.86429|               648|              0.55924|         49494.4435084|   0.0|
|    50%|         88624.71|          88628.23|          88612.6|          88624.01|           3.74294|    330608.8870057|              1360|              1.71242|        151690.2416507|   0.0|
|    75%|         88711.29|          88722.69|         88700.01|          88711.29|           7.58631|    668376.2930563|              2585|              3.77478|        331837.2796176|   0.0|
|    max|         88966.19|          88971.89|         88959.17|          88966.19|         156.38058|1.37371730385364E7|             23132|             74.88959|       6570797.8645059|     0|
+-------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+---------------------+----------------------+------+

In [4]:
df_bronze.printSchema()

root
 |-- open_time: timestamp_ntz (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: double (nullable = true)
 |-- close_time: timestamp_ntz (nullable = true)
 |-- quote_asset_volume: double (nullable = true)
 |-- number_of_trades: long (nullable = true)
 |-- taker_buy_base_volume: double (nullable = true)
 |-- taker_buy_quote_volume: double (nullable = true)
 |-- ignore: string (nullable = true)

In [5]:
# Check for nulls
from pyspark.sql.functions import col, sum as spark_sum, when

null_counts = df_bronze.select([
    spark_sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) 
    for c in df_bronze.columns
])
null_counts.show()

+---------+----+----+---+-----+------+----------+------------------+----------------+---------------------+----------------------+------+
|open_time|open|high|low|close|volume|close_time|quote_asset_volume|number_of_trades|taker_buy_base_volume|taker_buy_quote_volume|ignore|
+---------+----+----+---+-----+------+----------+------------------+----------------+---------------------+----------------------+------+
|        0|   0|   0|  0|    0|     0|         0|                 0|               0|                    0|                     0|     0|
+---------+----+----+---+-----+------+----------+------------------+----------------+---------------------+----------------------+------+

In [6]:
print("Déduplication...")
rows_before = df_bronze.count()
df_bronze = df_bronze.dropDuplicates(["open_time"])
duplicates = rows_before - df_bronze.count()
print(f" {duplicates} doublons supprimés")

Déduplication...
 0 doublons supprimés